<form action="/search" method="GET">
    <label for="barcode">of zoek op EAN barcode</label>
    <input type="text" id="barcode" name="barcode" placeholder="Typ EAN hier">
    <button type="submit">Zoek!</button>
</form>