<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description">
    <title>Foodscan</title>
    <link rel="stylesheet" href="/styles/min.styles.css">
    <script defer src="/js/min-index.js" type="module"></script>
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/img/iF-logo.png">
    <meta name="theme-color" content="royalblue">
    <meta name="description" content="A progressive web app created by Martijn van der Lans.">
</head>