<%- include('partials/head.ejs') -%>
<body>
    <header>
    </header>
    <main>
        <%- include('partials/barcode.ejs') -%>
        <section id="content">
            
        </section>
    </main>
</body>
</html>