<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs') -%>
<body>
    <header>
    </header>
    <main>
        <%- include('includes/barcode.ejs') -%>
        <section id="content">
            <a id="scanbutton" href="#scan">Begin met scannen</a>
        </section>
    </main>
</body>
</html>