    <%- include('partials/head.ejs') -%>
<body>
    <header>
    </header>
    <main>
        <%- include('partials/barcode.ejs') -%>
        <button class="add-button">Add to home screen</button>
        <section id="content">
            <%- include('partials/button.ejs') -%>
            <!-- <form action="/productH/" method="POST">
                <label for="ean-scanner">of zoek op EAN barcode</label>
                <input type="text" id="ean-scanner" placeholder="Typ EAN hier">
            </form> -->
        </section>
    </main>
</body>
</html>