    <%- include('partials/head.ejs') -%>
<body>
    <header>
    </header>
    <main>
        <button class="add-button">Add to home screen</button>
        <section id="content">
            <img class="no-signal" src="/img/no-signal.png" alt="no signal">
            <h2>Het lijkt er op dat je niet verbonden bent met het internet. Zorg dat je een internet connectie hebt om te kunnen beginnen met scannen!</h2>
        </section>
        <%- include('partials/app.ejs') -%>
    </main>
</body>
</html>