<%- include('partials/head.ejs') -%>
<body>
    <header>
    </header>
    <main>
        <%- include('partials/barcodeOn.ejs') -%>
        <section id="content">
            <h2 class="loading">Aan het scannen ...</h2>
        </section>
    </main>
</body>
</html>